h1{
  font-weight : 600 ;
  font-size:45px;
  margin: 10px;
  margin-bottom: 30px;
}
input{
  width: 100%;
}

.items-Container{
  text-align: left;
}
.Kg-row{
  margin:10px 10px;
}
.kg-button{ 
  min-width: 80px;

}